body {
	margin: 0;
}

* {
	font-family: sans-serif;
}

.header {
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
	background: mediumseagreen;
	display: flex;
}

.choices-list {
	display: flex;
	margin: 0;
	list-style: none;
	height: fit-content;
	justify-content: space-evenly;
	flex-direction: row;
	background: lightgray;
}

.choice img {
	margin: 12px;
	height: 150px;
	object-fit: contain;
	aspect-ratio: 1/1;
	background: darkgray;
	border: 8px darkgray solid;
	border-radius: 6px;
}

.selected-choice img {
	background: dodgerblue;
	border-color: dodgerblue;
	border-radius: 24px;
}

.play-section {
	margin: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#play-btn {
	font-size: x-large;
	border-radius: 12px;
	padding: 0 24px;
	border: none;
	width: fit-content;
	aspect-ratio: 2/1;
	background: mediumseagreen;
}